html {
	min-height: 100%;
	background-color: orange;
}
body {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	height: 550px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #aac731;
}
img {
	width: 100%;
	height: 100%;
}
h3 {
	display: flex;
	font-size: x-large;
	align-items: center;
	justify-content: center;
}
h1 {
	position: fixed;
	top: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}
#container {
	display: flex;
	height: 95%;
	width: 95%;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: space-evenly;
}
#computerImg {
	height: 25%;
	width: 50%;
}
#roundScore {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	height: 7%;
	width: 90%;
	background-color: orange;
}
#playerImg {
	height: 25%;
	width: 50%;
}
#playerSelection {
	width: 100%;
	height: 27%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
#computerScore {
	width: 50%;
	height: 5%;
}
#playerScore {
	width: 50%;
	height: 5%;
}
.choiceHolder {
	height: 90%;
	width: 30%;
}
