/*flex class*/
.flexR {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.flexC {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
/*HTML elements*/
html {
	min-height: 100%;
	background-color: orange;
}
body {
	height: 600px;
	width: 400px;
	background-color: #aac731;
}
img {
	width: 90%;
	height: 90%;
}
h3 {
	font-size: x-large;
}
h1 {
	font-size: xx-large;
	height: 5%;
}
p {
	height: 2.5%;
}
#container {
	height: 85%;
	width: 95%;
	justify-content: space-evenly;
}
#computerImg {
	height: 25%;
	width: 50%;
}
#roundScore {
	height: 7%;
	width: 90%;
	background-color: orange;
}
#playerImg {
	height: 25%;
	width: 50%;
}
#playerSelection {
	width: 100%;
	height: 27%;
	justify-content: space-around;
}
#computerScore {
	width: 50%;
	height: 5%;
}
#playerScore {
	width: 50%;
	height: 5%;
}
.choiceHolder {
	height: 90%;
	width: 30%;
}
.body {
	justify-content: space-around;
}
